.ui-pnotify.multicam-reloadneeded .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-pnotify.multicam-reloadneeded .ui-pnotify-title, .ui-pnotify.multicam-reloadneeded .ui-pnotify-text {
	color: #FFF !important;
}
.ui-pnotify.multicam-reloadneeded .ui-pnotify-title {
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #FFF;
	text-indent: -60px;
}
.ui-pnotify.multicam-reloadneeded .ui-pnotify-icon {
	margin-top: 40px;
	float: left;
}
.ui-pnotify.multicam-reloadneeded .icon {
	margin: 10px;
	width: 40px;
	height: 40px;
	font-size: 40px;
	color: #FFF;
}

.webcam_video_container .video-controls {
    position: absolute;
    bottom: 10px;
    right: 8px;
    z-index: 10;
    opacity: .4
}

.webcam_video_container:hover .video-controls {
    opacity: 1
}

.webcam_img_container {
    outline: 0;
    background-color: #000
}

.webcam_img_container,
.webcam_video_container .webcam_unrotated {
    width: 100%;
    position: relative;
    min-height: 300px;
}

.webcam_img_container .nowebcam {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.webcam_img_container .nowebcam .text {
    color: #fff;
    text-align: center;
    position: relative;
    margin: auto;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    display: block
}

.webcam_img_container .nowebcam .text.webcam_loading {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite
}

.webcam_img_container .webcam_rotated {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    pointer-events: none
}

.webcam_img_container .webcam_rotated .webcam_fixed_ratio {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    bottom: 0;
    pointer-events: none
}

.webcam_img_container .webcam_rotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    width: 100%;
    height: 100%;
    pointer-events: none
}

.webcam_img_container .webcam_unrotated .webcam_fixed_ratio {
    width: 100%;
    pointer-events: none;
    padding-bottom: 100%;
    position: relative
}

.webcam_img_container .webcam_unrotated .webcam_fixed_ratio.ratio43 {
    padding-bottom: 75%
}

.webcam_img_container .webcam_unrotated .webcam_fixed_ratio.ratio169 {
    padding-bottom: 56.25%
}

.webcam_img_container .webcam_unrotated .webcam_fixed_ratio.ratio1610 {
    padding-bottom: 62.5%
}

.webcam_img_container .webcam_unrotated .webcam_fixed_ratio .webcam_fixed_ratio_inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none
}

.webcam_img_container img {
    width: 100%;
    height: 100%;
    object-fit: contain
}