<!-- ko allowBindings: true -->
<div class="jog-panel" id="camControl">
    <h1>Webcams</h1>
    <div data-bind="foreach: settings.settings.plugins.multicam.multicam_profiles">
        <button class="btn btn-block control-box" data-bind="click: $parent.loadWebcam, text: name">Default (before bind)</button>
    </div>
</div>
<!-- /ko -->
