<!-- ko allowBindings: false -->
<div class="jog-panel" id="camControl">
    <h1>Webcams</h1>
    <div>
        <button class="btn btn-block control-box" data-bind="click: loadWebcam" disabled>Webcam 1</button>
        <button class="btn btn-block control-box" data-bind="click: loadWebcam">Webcam 2</button>
    </div>
</div>
<!-- /ko -->
