<div class="multicam_container">
    <div class="webcam_img_container" tabindex="0">
        <div class="nowebcam">
            <div class="text webcam_loading">
                <p><strong>{{ _('Webcam stream loading...') }}</strong></p>
            </div>
            <div class="text webcam_error" style="display: none;">
                <p><strong>{{ _('Webcam stream not loaded') }}</strong></p>
                <p><small>{{ _('It might not be configured correctly or require authentication. You can change the URL of the stream under "Settings" > "Classic Webcam" > "Stream URL". If you don\'t have a webcam you can also just disable webcam support there.') }}</small></p>
                <p><small>{{ _('Currently configured stream URL') }}: <a target="_blank" rel="noreferrer" class="current_url"></a></small></p>
            </div>
        </div>
        <div class="webcam_rotator" style="display: none;">
            <div class="webcam_fixed_ratio">
                <div class="webcam_fixed_ratio_inner">
                    <img class="webcam_image">
                </div>
            </div>
        </div>
    </div>
</div>