<div class="multicam_container">
    <div class="webcam_video_container" tabindex="0" data-bind="visible: multicam.WebCamSettings.webcamWebRTCEnabled() || multicam.WebCamSettings.webcamHlsEnabled(), css: { webcam_rotated: multicam.WebCamSettings.webcam_rotate90(), webcam_unrotated: !multicam.WebCamSettings.webcam_rotate90() }" style="display: none;">
        <div class="video-controls btn-group action-buttons">
            <div class="btn btn-mini" data-bind="click: function(data, event) { multicam.launchWebcamFullscreen() }"><i class="fas fa-expand"></i></div>
            <div class="btn btn-mini" data-bind="visible: document.pictureInPictureEnabled, click: function(data, event) {  multicam.launchWebcamPictureInPicture() }"><i class="fas fa-images"></i></div>
            <div class="btn btn-mini" data-bind="click: function(data, event) { multicam.toggleWebcamMute() }">
                <!-- ko if: multicam.WebCamSettings.webcamMuted() -->
                <i class="fas fa-volume-mute"></i>
                <!-- /ko -->
                <!-- ko ifnot: multicam.WebCamSettings.webcamMuted() -->
                <i class="fas fa-volume-up"></i>
                <!-- /ko -->
            </div>
        </div>
        <div data-bind="css: { webcam_rotated: multicam.WebCamSettings.webcam_rotate90(), webcam_unrotated: !multicam.WebCamSettings.webcam_rotate90() }">
            <div class="rotation_target">
                <div data-bind="css: { flipH: multicam.WebCamSettings.webcam_flipH(), flipV: multicam.WebCamSettings.webcam_flipV() }">
                    <video class="webcam_webrtc" muted autoplay playsinline style="width: 100%" data-bind="visible: multicam.WebCamSettings.webcamWebRTCEnabled()"></video>
                    <video class="webcam_hls" muted autoplay playsinline style="width: 100%" data-bind="visible: multicam.WebCamSettings.webcamHlsEnabled()" type="application/x-mpegURL"></video>
                </div>
            </div>
        </div>
    </div>
    <div class="webcam_img_container" tabindex="0" data-bind="visible: multicam.WebCamSettings.webcamMjpgEnabled()">
        <div class="nowebcam" data-bind="visible: !multicam.WebCamSettings.webcamLoaded()">
            <div class="text webcam_loading" data-bind="visible: !multicam.WebCamSettings.webcamLoaded() && !multicam.WebCamSettings.webcamError()">
                <p><strong>{{ _('Webcam stream loading...') }}</strong></p>
            </div>
            <div class="text webcam_error" data-bind="visible: !multicam.WebCamSettings.webcamLoaded() && multicam.WebCamSettings.webcamError()">
                <p><strong>{{ _('Webcam stream not loaded') }}</strong></p>
                <p><small>{{ _('It might not be configured correctly or require authentication. You can change the URL of the stream under "Settings" > "Classic Webcam" > "Stream URL". If you don\'t have a webcam you can also just disable webcam support there.') }}</small></p>
                <p><small>{{ _('Currently configured stream URL') }}: <a target="_blank" rel="noreferrer" data-bind="attr: {href: multicam.WebCamSettings.streamUrl}, text: multicam.WebCamSettings.streamUrl"></a></small></p>
            </div>
        </div>
        <div class="webcam_rotator" data-bind="css: { webcam_rotated: multicam.WebCamSettings.webcam_rotate90(), webcam_unrotated: !multicam.WebCamSettings.webcam_rotate90() }">
            <div class="webcam_fixed_ratio" data-bind="css: multicam.WebCamSettings.webcamRatioClass">
                <div class="webcam_fixed_ratio_inner">
                    <img class="webcam_image" data-bind="css: { flipH: multicam.WebCamSettings.webcam_flipH(), flipV: multicam.WebCamSettings.webcam_flipV() }, visible: multicam.WebCamSettings.webcamLoaded() && !multicam.WebCamSettings.webcamError()">
                </div>
            </div>
        </div>
    </div>
</div>